<div class="col-md-5 col-md-push-7 col-lg-4 col-lg-push-8 col-xs-12 sales-image-container">
	<div class="row">
			<div class="col-xs-5 com-sm-6 col-md-12 col-lg-5 col-lg-push-1 nav-image-wrapper center-block">
				<?php if(!empty($template_data['free-design-info'])): ?>
					<a href="<?php echo SDSController::get_page_link('view-shape/' . $template_data['design-id']); ?>">
						<img class="nav-image" src="<?php echo $template_data['image-path']?>" alt="Free shape of the week image">
					</a>
				<?php endif; ?>
			</div>
			<div class="col-xs-5 com-sm-6 col-md-12 col-lg-5 col-lg-push-1 nav-image-wrapper center-block">
				<?php if(isset($template_data['sales-slides'][0])): ?>
					<a href="<?php echo $template_data['sales-slides'][0]['link'] ?>">
						<img class="margin-top-xl" src="<?php echo IMG_URL_SDS_CDN . "/home". $template_data['sales-slides'][0]['filename']?>" alt="<?php echo $template_data['sales-slides'][0]['altText'] ?>">
					</a>
				<?php endif; ?>
			</div>
	</div>
	<div class="row visible-lg">
		<div class="col-xs-12 col-sm-5 col-lg-push-1 nav-image-wrapper center-block">
			<?php if(isset($template_data['sales-slides'][1])): ?>
				<a href="<?php echo $template_data['sales-slides'][1]['link'] ?>">
					<img class="margin-top-xl" src="<?php echo IMG_URL_SDS_CDN . "/home". $template_data['sales-slides'][1]['filename']?>" alt="<?php echo $template_data['sales-slides'][1]['altText'] ?>">
				</a>
			<?php endif; ?>
		</div>
		<div class="col-xs-12 col-sm-5 col-lg-push-1 nav-image-wrapper center-block">
			<?php if(isset($template_data['sales-slides'][2])): ?>
				<a href="<?php echo $template_data['sales-slides'][2]['link'] ?>">
					<img class="margin-top-xl" src="<?php echo IMG_URL_SDS_CDN . "/home". $template_data['sales-slides'][2]['filename']?>" alt="<?php echo $template_data['sales-slides'][2]['altText'] ?>">
				</a>
			<?php endif; ?>
		</div>
	</div>
</div>