<?php
    if (empty($template_data['selected_items'])):
        $template_data['selected_items'] = [];
    endif;
?>
<ul class="dropdown-menu padding-left-sm" id="<?php echo $template_data['id'] ?>">
	<li class="close-menu mobile-menu-header-2">
		<i class="fa fa-times-circle close-menu-button" data-target="<?php echo $template_data['id'] ?>"></i>
	</li>
<?php foreach($template_data['menu_items'] as $key => $val): ?>
	<li>
		<input type="checkbox" value="<?php echo $val ?>" name="<?php $template_data['check_box_name'] ?>" id="<?php echo $key ?>" class="<?php echo (!empty($template_data['js-class-hook'])) ? $template_data['js-class-hook'] : ''?>" <?php foreach($template_data['data_items'] as $data_key => $data_val): ?> data-<?php echo $data_key ?>="<?php echo $data_val?>" <?php endforeach; ?> <?php echo (in_array($val, $template_data['selected_items'])) ? 'checked' : ''?>>
		<label for="<?php echo $key ?>"><?php echo $key ?></label>
	</li>
<?php endforeach; ?>
</ul>