<?php
	
?>

	<ul class="<?php echo (isset($template_data['is_sub']) && $template_data['is_sub']) ? "dropdown-menu sub-menu-list" : 'menu-panel-root scrollable-y-desktop'?>" <?php echo (isset($template_data['toggle_target'])) ? "id='{$template_data['toggle_target']}'" : '' ?>>
		<?php
			$i = 0;
			foreach($template_data['items'] as $item):
                $i++;
                $page = (!isset($item['page'])) ? $template_data['page'] : $item['page'];
                $additional_classes = (!empty($item['additional_classes'])) ? $item['additional_classes'] : '';
		?>
			<li class="<?php echo (!isset($template_data['is_sub'])) ? 'padding-top-xs' : 'sub-menu-item'; echo " {$additional_classes}"; ?>">
				<a href="<?php echo SDSController::get_page_link("{$page}/{$item['url_key']}") ?>"><?php echo $item['keyword'] ?></a>
				<?php
					if(isset($item['children']) && !empty($item['children'])):
						$id = $item['children'][0]['id'];
						if(isset($item['children']) && !empty($item['children'])): ?>
							<?php if(!isset($template_data['is_sub'])): ?>
								<a href="#" class="pull-right margin-right-lg visible-lg <?php echo (isset($template_data['is_sub']) && $template_data['is_sub']) ? 'padding-top-3px toggle-sub-menu' : 'hover-menu' ?>" data-toggle="<?php echo preg_replace('/[^\da-z]/i', '-', strtolower($item['keyword'])) . "-sub-menu-{$id}" ?>">
									<span class="fa fa-chevron-right visible-lg"></span>
								</a>
								<a href="#" class="<?php echo (isset($template_data['is_sub'])) ? 'pull-right' : 'root-ancestor'; ?> margin-right-lg hidden-lg <?php echo (isset($template_data['is_sub']) && $template_data['is_sub']) ? 'padding-top-3px toggle-sub-menu' : 'toggle-dropdown-menu' ?>" data-toggle="<?php echo preg_replace('/[^\da-z]/i', '-', strtolower($item['keyword'])) . "-sub-menu-{$id}" ?>">
									<span class="fa fa-chevron-down hidden-lg <?php echo (!isset($template_data['is_sub'])) ? 'pull-right' : ''; ?>"></span>
								</a>
							<?php endif; ?>
							<?php
							SDSController::get_template(
								'structure/dropdown-menu',
								[
									'items' => $item['children'],
									'is_sub' => true,
									'page' => $page,
									'toggle_target' => preg_replace('/[^\da-z]/i', '-', strtolower($item['keyword'])) . "-sub-menu-{$id}"
								]
							);
						endif;
					endif;
				?>
			</li>
		<?php endforeach; ?>
	</ul>
